<!-- pistaModal.cshtml -->
<div class="modal fade" id="pistaModal" tabindex="-1" aria-labelledby="pistaModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" style="max-width: 900px;">
        <div class="modal-content custom-modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="pistaModalLabel">Pista Ice Cream</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <div class="big-tub-container" style="position: relative;">
                    <img src="~/assets/img/cone/large/pista.png" alt="Pista Ice Cream" class="img-fluid big-tub" />
                    <div class="flavour-label modalheadingstyle">
                        Pista <br>Ice Cream
                    </div>
                </div>
                <div class="small-tub-container">
                    <img src="~/assets/img/cone/pista.png" alt="Pista Ice Cream" class="img-fluid small-tub" />
                    <img src="~/assets/img/cone/double/pista.png" alt="Pista Ice Cream" class="img-fluid small-tubs" />
                </div>
                <div class="scoop-section">
                    <div class="scoop-item">
                        <p>Single Scoop</p>
                        <input type="number" id="singlePistaScoop" class="form-control small-input" value="0" min="0" oninput="calculatePistaPrice()" />
                        <p>Single Scoop Price:<br> <span id="singlePistaScoopPrice">00</span> Rs.</p>
                    </div>
                    <div class="scoop-items">
                        <p>Double Scoop</p>
                        <input type="number" id="doublePistaScoop" class="form-control small-input" value="0" min="0" oninput="calculatePistaPrice()" />
                        <p>Double Scoop Price:<br> <span id="doublePistaScoopPrice">00</span> Rs.</p>
                    </div>
                </div>
                <div class="price-section">
                    <h2>Total Price: <span id="totalPistaPrice">00</span> Rs.</h2>
                    <h2>Total Quantity: <span id="totalPistaQuantity">0</span></h2>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="addToPistaOrder()">Add to Order</button>
                </div>
            </div>
        </div>
    </div>
</div>
