@* @{
    Layout = "~/Views/Shared/_LayoutCommon.cshtml";
    ViewData["Title"] = "Access Denied";
} *@
<title>Access Denied</title>

<header class="page-header">
    <h2>Access not available</h2>
    <div class="right-wrapper text-end me-3">
        <ol class="breadcrumbs">
            <li>
                <a href="index.html">
                    <i class='bx bx-grid-alt'></i>
                </a>
            </li>
        </ol>
    </div>
</header>
<div class="container h-100 my-auto">
    <div class="row flex-column align-items-center justify-content-center h-100">
        <div class="col-lg-auto d-flex flex-column justify-content-center align-items-center h-100 text-center">
            <img src="assets/img/logo.svg" class="img-fluid" height="350" alt="">
            <h1 class="text-uppercase">Access not available</h1>
            <p>You dont have access to this page</p>
        </div>
    </div>
</div>