@{
    Layout = "~/Views/Shared/_LayoutCommon.cshtml";
    ViewData["Title"] = "UnAuthorized Access";
} 
<title>UnAuthorized Access</title>
<section class="body-sign" style="max-width: 500px;">
    <div class="center-sign">
        <a href="javascript:void(0)" class="logo float-start">
            <img src="/assets/img/logo.png" height="70" alt="Brand Logo" />
        </a>

        <div class="panel card-sign">
            <div class="card-title-sign mt-3 text-end">
                <h2 class="title text-uppercase font-weight-bold m-0"><i class="bx bx-user-circle me-1 text-6 position-relative top-5"></i>UnAuthorized</h2>
            </div>
            <div class="card-body text-center p-4">
                <h1 class="text-primary text-center mt-0 mb-2">
                    <i class="fa-solid fa-ban"></i>
                </h1>
                <h3 class="text-primary text-center">You are not authorized</h3>
                <p class="text-start mt-3 mb-0 fw-bold">Your information is received by System Administrator, Please contact your system administrator to get the permission</p>
                <a href="/Account/SignOut" class="btn btn-lg btn-primary text-center mt-3">Log Out</a>
                </div>
        </div>
    </div>
</section>