
<img class="icy" src="~/assets/img/softback7.webp" />
<div class="header">
    <button id="showCartButton" class="btn btn-primary2">
        <img src="~/assets/img/cart.png" style="width:110px; height:150px;" />
        <span id="cartItemCount" class="cart-item-count">0</span> <!-- Cart item count -->
    </button>
</div>

@* <button id="checkout-btn" class="chkbtn btn btn-primary">
    <img src="~/assets/img/icecream/iceice.png" alt="Checkout Icon" />
</button> *@
<div id="heldOrdersButtonsContainer" class="held-orders-buttons text-center my-3">
    <!-- Held order buttons will be dynamically inserted here -->
</div>

