@model string
<header class="page-header">
    <h2>@SharedHtmlLocalizer[@Model]</h2>
    <span class="d-none d-lg-block">
        <h2 id="DivDateTime" class="text-center mt-0"></h2>    
    </span>
    <div class="right-wrapper text-end me-3">
        <ol class="breadcrumbs">
            <li>
                <a href="/">
                    <i class='bx bx-grid-alt'></i>
                </a>
            </li>
        </ol>
    </div>
</header>
 